@model ArabityAuth.ViewModel.WorkshopDataVM

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IAuthorizationService Athorize
@{
    AuthorizationResult authorizationResult = await Athorize.AuthorizeAsync(User, "CustomerRole");
}
@{
    AuthorizationResult authorizationResult1 = await Athorize.AuthorizeAsync(User, "StoreRole");
}
@{
    AuthorizationResult authorizationResult2 = await Athorize.AuthorizeAsync(User, "WorkshopRole");
}
@{
    Layout = "_None";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet">
    <title>center control</title>
    <style>
        .comments {
            max-height: 300px;
            overflow-y: scroll;
            margin-bottom: 15px;
        }
    </style>
</head>
<body id="store-data">
    @if (SignInManager.IsSignedIn(User))
    {
        <header class="header d-flex row justify-content-around align-items-baseline">
            <img class="navbar-brand col-3 logo" src="~/image/Logo.png" style="width: 175px;margin-top: auto;margin-bottom: auto;margin-left: -100px;" />
            <nav class="header-nav col-6 d-flex justify-content-end align-items-center">
                <div class="dropdown m-2">
                    <button id="card-btn" class="btn shop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu shop-menu menu">
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workshops" asp-action="AllWorkshops">Workshops</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="AllStores">Stores</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>

                    </ul>
                </div>
                @if (authorizationResult.Succeeded)
                {
                    <div class="dropdown m-2">
                        <button id="card-btn" class="btn shop dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4"
                         viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                        </button>
                        <ul id="shop" class="dropdown-menu shop-menu">
                            <style>
                                .close {
                                    border: none;
                                    background-color: transparent;
                                }

                                    .close:hover {
                                        color: #f44336 !important;
                                    }
                            </style>
                            @foreach (ArabityAuth.ViewModel.CartVM storeProduct in ViewBag.CartProduct)
                            {
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">@Html.DisplayFor(modelItem => storeProduct.Name)</h6>

                                        <small class="text-muted">@Html.DisplayFor(modelItem => storeProduct.ProductQuantity) pieces</small>
                                    </div>
                                    <div>
                                        <form asp-controller="Home" asp-action="DeleteFromCart">
                                            <span id="price" class="text-muted">@Html.DisplayFor(modelItem => storeProduct.TotalPrice) LE</span>
                                            <input asp-for="ProductParcode" id="clicked" hidden value="@storeProduct.ProductParcode" />
                                            <input type="submit" class="close btn-danger" value=" Del" aria-label="Close" />
                                        </form>
                                    </div>
                                </li>
                            }

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (LE)</span>
                                <div>
                                    <form asp-controller="Home" asp-action="DeleteAllFromCart">
                                        <strong> @ViewBag.Total LE</strong>
                                        <input type="submit" class="close btn-danger" value=" Del" aria-label="Close" />
                                    </form>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                @* <input class="contact" id="confirm" style="width: 100%;" type="submit" value="Confirm Order"/>*@
                                <form class="buy-now" style="width: 100%;" asp-controller="Orders" asp-action="ConfirmOrder" method="post">
                                    <input class="contact" type="submit" value="Confirm Order" />
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                <div class="dropdown m-2">
                    <button id="card-btn" class="btn shop dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="acount-image" src="~/Uploads/@ViewBag.img" alt="">
                    </button>
                    <ul class="dropdown-menu shop-menu menu">
                        @if (authorizationResult.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="ViewCustomerData">Personal Data</a>
                            </li>
                        }

                        @if (authorizationResult1.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="ViewStoreData">Personal Data</a>
                            </li>
                        }

                        @if (authorizationResult2.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="ViewWorkshopData">Personal Data</a>
                            </li>
                        }

                        <li class="list-group-item red">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
                        </li>

                        @if (authorizationResult.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="UpdateCustomerData">Update Data </a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="DeleteCustomerAccount">Delete Account</a>
                            </li>
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="Favourite">Favourites</a>
                            </li>
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="My_Orders">My Orders</a>
                            </li>
                        }
                        @if (authorizationResult1.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="UpdateStoreData">Update Data</a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none d-none nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="DeleteStoreAccount">Delete Account</a>
                            </li>
                        }
                        @if (authorizationResult2.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="UpdateWorkshopData">Update Data</a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="DeleteWorkshopAccount">Delete Account</a>
                            </li>
                        }
                        <li class="list-group-item red">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    }
    else
    {

    } @if (SignInManager.IsSignedIn(User))
    {
        <header class="header d-flex row justify-content-around align-items-baseline">
            <img class="navbar-brand col-3 logo" src="~/image/Logo.png" style="width: 175px;margin-top: auto;margin-bottom: auto;margin-left: -100px;" />
            <nav class="header-nav col-6 d-flex justify-content-end align-items-center">
                <div class="dropdown m-2">
                    <button id="card-btn" class="btn shop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu shop-menu menu">
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workshops" asp-action="AllWorkshops">Workshops</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="AllStores">Stores</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="list-group-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>

                    </ul>
                </div>
                @if (authorizationResult.Succeeded)
                {
                    <div class="dropdown m-2">
                        <button id="card-btn" class="btn shop dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4"
                         viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                        </button>
                        <ul id="shop" class="dropdown-menu shop-menu">
                            <style>
                                .close {
                                    border: none;
                                    background-color: transparent;
                                }

                                    .close:hover {
                                        color: #f44336 !important;
                                    }
                            </style>
                            @foreach (ArabityAuth.ViewModel.CartVM storeProduct in ViewBag.CartProduct)
                            {
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0">@Html.DisplayFor(modelItem => storeProduct.Name)</h6>

                                        <small class="text-muted">@Html.DisplayFor(modelItem => storeProduct.ProductQuantity) pieces</small>
                                    </div>
                                    <div>
                                        <form asp-controller="Home" asp-action="DeleteFromCart">
                                            <span id="price" class="text-muted">@Html.DisplayFor(modelItem => storeProduct.TotalPrice) LE</span>
                                            <input asp-for="ProductParcode" id="clicked" hidden value="@storeProduct.ProductParcode" />
                                            <input type="submit" class="close btn-danger" value=" Del" aria-label="Close" />
                                        </form>
                                    </div>
                                </li>
                            }

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (LE)</span>
                                <div>
                                    <form asp-controller="Home" asp-action="DeleteAllFromCart">
                                        <strong> @ViewBag.Total LE</strong>
                                        <input type="submit" class="close btn-danger" value=" Del" aria-label="Close" />
                                    </form>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                @* <input class="contact" id="confirm" style="width: 100%;" type="submit" value="Confirm Order"/>*@
                                <form class="buy-now" style="width: 100%;" asp-controller="Orders" asp-action="ConfirmOrder" method="post">
                                    <input class="contact" type="submit" value="Confirm Order" />
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                <div class="dropdown m-2">
                    <button id="card-btn" class="btn shop dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="acount-image" src="~/Uploads/@ViewBag.img" alt="">
                    </button>
                    <ul class="dropdown-menu shop-menu menu">
                        @if (authorizationResult.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="ViewCustomerData">Personal Data</a>
                            </li>
                        }

                        @if (authorizationResult1.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="ViewStoreData">Personal Data</a>
                            </li>
                        }

                        @if (authorizationResult2.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="ViewWorkshopData">Personal Data</a>
                            </li>
                        }

                        <li class="list-group-item red">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
                        </li>

                        @if (authorizationResult.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="UpdateCustomerData">Update Data </a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="DeleteCustomerAccount">Delete Account</a>
                            </li>
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageCustomer" asp-action="Favourite">Favourites</a>
                            </li>
                        }
                        @if (authorizationResult1.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="UpdateStoreData">Update Data</a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none d-none nav-link text-dark" asp-area="" asp-controller="ManageStore" asp-action="DeleteStoreAccount">Delete Account</a>
                            </li>
                        }
                        @if (authorizationResult2.Succeeded)
                        {
                            <li class="list-group-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="UpdateWorkshopData">Update Data</a>
                            </li>
                            <li class="list-group-item">
                                <a id="deleteAccount" class="nav-link text-dark">Delete Account</a>
                                <a id="delete" class="d-none nav-link text-dark" asp-area="" asp-controller="ManageWorkshop" asp-action="DeleteWorkshopAccount">Delete Account</a>
                            </li>
                        }
                        <li class="list-group-item red">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    }
    else
    {

    }
    <div class="scroller"></div>
    <div class="center-page-container-2">
        <div class="workshop-card">
            <img src="~/Uploads/@ViewBag.Workshop.ImageUrl" alt="Product Image">
            <h2>@ViewBag.Workshop.Name</h2>
            <p>@ViewBag.Workshop.Description</p>
            <div class="workshop-details">
                <p><strong>Car Models:</strong></p>
                  <ul style="margin-bottom:25px;">
                    <li>Nessan</li>
                    <li>Toyota</li>
                    <li>Honda</li>
                    <li>Range Rover</li>
                  </ul>
                <p>
                    <strong>Phone:</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg> @ViewBag.Workshop.PhoneNumbre
                </p>
                <p>
                    <strong>Address :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg> @ViewBag.Workshop.Governorate - @ViewBag.Workshop.City
                </p>
                <p><strong>Work Time:</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                    </svg> @ViewBag.Workshop.WorkTime
                </p>
                <p><strong>Gmail Address:</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                    </svg> @ViewBag.Workshop.GmailAddress
                </p>
            </div>

             <div class="d-flex col align-items-baseline justify-content-center">
                      <div class="rates d-flex col align-self-center align-items-baseline justify-content-start">
                          <h5 class="mx-1"><strong>Rates:</strong></h5>
                          <div id="stars" class="stars d-flex">
                              <svg class="svg-inline--fa fa-star star s1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                      d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                  </path>
                              </svg>
                              <svg class="svg-inline--fa fa-star star s2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                      d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                  </path>
                              </svg>
                              <svg class="svg-inline--fa fa-star star s3" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                      d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                  </path>
                              </svg>
                              <svg class="svg-inline--fa fa-star star s4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                      d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                  </path>
                              </svg>
                              <svg class="svg-inline--fa fa-star star s5" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                      d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                  </path>
                              </svg>
                          </div>
                      </div>
                      <div class="col-4">
                         <form asp-controller="Home" asp-action="Contact">
                            <input type="submit" class="btn btn-primary my-3 contact" value="Contact Us" />
                         </form> 
                      </div>
                  </div>

        </div>

        <form class="comment-input" asp-action="Add_W_Comment">
            <label for="exampleFormControlTextarea1" class="form-label">
                <h4>Comments</h4>
            </label>
            <textarea asp-for="Comment" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            <input hidden asp-for="Id" value="@ViewBag.Workshop.Id" />
            <input class="btn btn-primary my-3 contact" type="submit" value="Save Comment" />
        </form>
        <div class="comments" style=" max-height: 300px; overflow-y: scroll; margin-bottom: 15px;">
            @foreach (WorkshopComment item in @ViewBag.Comments)
            {
                <p> @item.Comment</p>
            }
        </div>
       
    </div>
    <script src="~/js/main.js"></script>
    <script src="~/js/centercontrol.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
</body>
</html>
