@model StoreProduct

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
      <link rel="stylesheet" href="~/css/style.css">
  <link rel="stylesheet" href="~/css/all.min.css">
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet">
    <title>center control</title>
    <style>
        .add-btn{
            width:100px!important;
        }
    </style>
</head>

<body>

    <div class="scroller"></div>
    <div class="center-page-container-2">
        <div class="workshop-card">
            
            <img src="~/Uploads/@ViewBag.Store.ImageUrl" alt="Store Image">
            <h2>@ViewBag.Store.Name</h2>
            <p>@ViewBag.Store.Description</p>
            <div class="workshop-details">
                <p><strong> Address :</strong> @ViewBag.Store.Governorate - @ViewBag.Store.City</p>
                <p><strong>Work Time:</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                    </svg> @ViewBag.Store.WorkTime
                </p>
                <p>
                    <strong>Phone :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg> @ViewBag.Store.PhoneNumbre
                </p>
                <p><strong>Gmail Address :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                    </svg> @ViewBag.Store.GmailAddress
                </p>
            </div>
            <form asp-action="UpdateStoreData" method="get">
                <input type="submit" value="Update Data" class="btn btn-primary" />
            </form>
        </div>
       
        <div class="center-product d-flex justify-content-center align-items-center row nowrap">
            <div class="search">
                <input type="search" placeholder="search..." />
                <button>Search</button>
                <button class="filter mx-2 align-items-baseline">
                    Filters
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
                <form asp-action="AddProduct" method="get">
                    <input type="submit" value="Add" class="btn btn-primary my-3 add-btn" />
                </form>
            </div>
            @foreach (StoreProduct item in @ViewBag.StoreProducts)
            {
                <div id="product" class="product-card1 container-2 m-3 col-lg-2 col-md-4 col-sm-6">
                    <a id="product-page" href="product.html"></a>
                    <div class="center-information">
                        <img class="product-img" src="~/Uploads/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="">
                        <h2 class="center-name mx-0">@Html.DisplayFor(modelItem => item.Name)</h2>
                        <p style="height:75px; overflow:hidden;">@Html.DisplayFor(modelItem => item.Discreption)</p>
                        <p class="center-discreption">Price : @Html.DisplayFor(modelItem => item.Price)</p>
                    </div>
                    <form asp-action="UpdateProduct" method="get">
                        <input class="d-none" asp-for="Parcode" value="@item.Parcode" />
                        <input type="submit" value="Edit" class="btn btn-primary my-3 contact" />
                    </form>
                    <form asp-action="DeleteProduct" method="get">
                        <button asp-for="Parcode" type="submit" value="@item.Parcode" class="btn btn-danger my-3 contact">Delete</button>
                    </form>
                </div>
            }
         
        </div>
    </div>
    <script src="~/js/main.js"></script>
    <script src="~/js/centercontrol.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
</body>
</html>